<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExcelToAmazonPolly.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ExcelToAmazonPolly.Properties.Settings>
            <setting name="awsID" serializeAs="String">
                <value>awsID</value>
            </setting>
            <setting name="awsKey" serializeAs="String">
                <value>awsKey</value>
            </setting>
            <setting name="awsRegion" serializeAs="String">
                <value>us-east-2</value>
            </setting>
        </ExcelToAmazonPolly.Properties.Settings>
    </userSettings>
</configuration>